<launch>
  <arg name="model" default="$(optenv TURTLEBOT3_MODEL waffle_pi)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-2.5"/>
  <arg name="y_pos" default="6.0"/>
  <arg name="yaw" default="0.0"/>

  <arg name="z_pos" value="0.30"/>
  <arg name="gui" default="true"/>

  <include file="$(find shelfmatch_task)/launch/bookstore.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>

  <include file="$(find shelfmatch_task)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(find shelfmatch_task)/map/map.yaml"/>
    <arg name="initial_pose_x" value="$(arg x_pos)"/>
    <arg name="initial_pose_y" default="$(arg y_pos)"/>
    <arg name="initial_pose_a" default="$(arg yaw)"/>
    <arg name="open_rviz" value="true"/>
  </include>
</launch>
